#app{

  #content-left{
    position: absolute;
    left: 0;
    width: 33%;
  }

  #content-middle{
    position: absolute;
    left: 33%;
    width: 33%;
  }

  #content-right{
    position: absolute;
    left: 66%;
    width: 33%;
  }
}