.justified-mosaic{
  @keyframes img-fade{
    from{ opacity: 1; }
    to{ opacity: 0.3; }
  }

  @keyframes text-fade{
    from{ opacity: 0; }
    to{ opacity: 1; }
  }

  width: 100%;

  .justified-mosaic-image-wrapper{
    background-color: #000000;
    display: block;

    .image-info{
      visibility: hidden;
      position: absolute;
      top: calc(50% - 2em);
      left: 0.5em;
      color: #ffffff;

      .title{
        font-size: 2em;
      }

      .description{
        font-size: 1em;
      }
    }
  }

  .justified-mosaic-image-wrapper.darken:hover{
    .justified-mosaic-image{
      animation: img-fade 0.25s;
      -webkit-animation: img-fade 0.25s;
      -o-animation: img-fade 0.25s;
      opacity: 0.3;
    }

    .image-info{
      visibility: visible;
      animation: text-fade 0.25s;
      -webkit-animation: text-fade 0.25s;
      -o-animation: text-fade 0.25s;
      opacity: 1;
    }
  }
}
