@keyframes fade{
  from{
    opacity: 1;
  }

  to{
    opacity: 0.3;
  }
}

.justified-mosaic{
  width: 100%;

  .justified-mosaic-image-wrapper{
    background-color: #000000;
    display: block;

    .image-info{
      visibility: hidden;
      position: absolute;
      top: calc(50% - 2em);
      left: 0.5em;
      color: white;

      .title{
        font-size: 2em;
      }

      .description{
        font-size: 1em;
      }
    }
  }

  .justified-mosaic-image-wrapper:hover{
    .justified-mosaic-image{
      animation: fade 0.25s;
      -webkit-animation: fade 0.25s;
      -o-animation: fade 0.25s;
      opacity: 0.3;
    }

    .image-info{
      visibility: visible;
      animation: fade 0.25s;
      -webkit-animation: fade 0.25s;
      -o-animation: fade 0.25s;
      opacity: 0.3;
    }
  }
}
